body {
    background: #0b0b0b;
    color: white;
    font-family: sans-serif;
    padding: 40px;
    line-height: 1.6;
}



h1 {
    color: rgb(23, 136, 13);
    margin-bottom: 20px;
}

a.back {
    display: inline-block;
    margin-top: 30px;
    color: white;
    background: rgb(23, 136, 13);
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
}

a.back:hover {
    background: transparent;
    border: 1px solid rgb(23, 136, 13);
    transition: 0.3s;
}
.extra-info {
    margin-top: 60px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    text-align: center;
}

.extra-info h2 {
    color: rgb(23, 136, 13);
    margin-bottom: 15px;
}

.extra-info p {
    margin: 10px 0;
    font-style: italic;
    font-size: 17px;
}
